USE [master]
GO
/****** Object:  Database [myFlorist]    Script Date: 2021/12/28 18:11:39 ******/
CREATE DATABASE [myFlorist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myFlorist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myFlorist.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myFlorist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myFlorist_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myFlorist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myFlorist]
GO
/****** Object:  Table [dbo].[catTable]    Script Date: 2021/12/28 18:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catTable](
	[userid] [int] NOT NULL,
	[flowerid] [int] NOT NULL,
	[num] [int] NOT NULL,
	[state] [int] NULL,
	[order_date] [varchar](200) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flowerTable]    Script Date: 2021/12/28 18:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flowerTable](
	[flower_id] [int] IDENTITY(1,1) NOT NULL,
	[flower_name] [varchar](100) NOT NULL,
	[flower_mkprice] [int] NOT NULL,
	[flower_num] [int] NOT NULL,
	[flower_img] [varchar](100) NOT NULL,
	[flower_HuaYu] [varchar](1000) NOT NULL,
	[flower_typeid] [int] NOT NULL,
	[flower_packing] [varchar](1000) NOT NULL,
	[flower_Now_price] [int] NOT NULL,
	[flower_MaterialScience] [varchar](500) NOT NULL,
	[flower_XiaoLiang] [int] NULL,
	[top_src] [varchar](200) NULL,
 CONSTRAINT [PK__flowerTa__177E0A7E705E5C38] PRIMARY KEY CLUSTERED 
(
	[flower_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderTable]    Script Date: 2021/12/28 18:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderTable](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_shopping] [int] NULL,
	[order_userid] [int] NULL,
	[order_money] [money] NOT NULL,
	[order_state] [int] NOT NULL,
	[order_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shoppingTable]    Script Date: 2021/12/28 18:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shoppingTable](
	[shopping_id] [int] IDENTITY(1,1) NOT NULL,
	[shopping_flower] [int] NOT NULL,
	[shopping_state] [int] NOT NULL,
	[shopping_num] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shopping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typeTable]    Script Date: 2021/12/28 18:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typeTable](
	[typeid] [int] NOT NULL,
	[typename] [varchar](100) NOT NULL,
 CONSTRAINT [PK__typeTabl__F0528D02451EB9CF] PRIMARY KEY CLUSTERED 
(
	[typeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userTable]    Script Date: 2021/12/28 18:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTable](
	[users_id] [int] NOT NULL,
	[users_name] [nvarchar](50) NOT NULL,
	[users_pwd] [nvarchar](50) NOT NULL,
	[users_type] [int] NOT NULL,
 CONSTRAINT [PK__userTabl__EAA7D14B37AE2AF8] PRIMARY KEY CLUSTERED 
(
	[users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[catTable] ON 

INSERT [dbo].[catTable] ([userid], [flowerid], [num], [state], [order_date], [id]) VALUES (3, 5, 1, 1, N'2020-12-12', 5)
INSERT [dbo].[catTable] ([userid], [flowerid], [num], [state], [order_date], [id]) VALUES (3, 4, 1, 1, N'2020-12-12', 6)
SET IDENTITY_INSERT [dbo].[catTable] OFF
GO
SET IDENTITY_INSERT [dbo].[flowerTable] ON 

INSERT [dbo].[flowerTable] ([flower_id], [flower_name], [flower_mkprice], [flower_num], [flower_img], [flower_HuaYu], [flower_typeid], [flower_packing], [flower_Now_price], [flower_MaterialScience], [flower_XiaoLiang], [top_src]) VALUES (1, N'不变的承诺', 869, 99, N'img\Constantcommitment', N'下雨的时候，给她撑一把雨伞；寒冷的时候，给她一个温暖的臂弯；天黑了，永远有一盏灯为她点亮；晨起时，给她一缕温暖的阳光。爱她，就送她一束99枝的玫瑰花！', 2, N'黑色雪梨纸，黑色条纹纸，玻璃纸卷，酒红色缎带花结', 569, N'99枝卡罗拉红玫瑰', 1000, N'img\Constantcommitment/1.jpg')
INSERT [dbo].[flowerTable] ([flower_id], [flower_name], [flower_mkprice], [flower_num], [flower_img], [flower_HuaYu], [flower_typeid], [flower_packing], [flower_Now_price], [flower_MaterialScience], [flower_XiaoLiang], [top_src]) VALUES (2, N'一往情深', 355, 19, N'img\BePassionatelyDevoted', N'你的轻柔像阵微风，让我从容不迫，想让你知道，我对你始终一往情深', 2, N'高档礼盒装鲜花:19枝卡罗拉红玫瑰，勿忘我1枝', 273, N'高档礼盒装鲜花:19枝卡罗拉红玫瑰，勿忘我1枝', 1234, N'img\BePassionatelyDevoted/1.jpg')
INSERT [dbo].[flowerTable] ([flower_id], [flower_name], [flower_mkprice], [flower_num], [flower_img], [flower_HuaYu], [flower_typeid], [flower_packing], [flower_Now_price], [flower_MaterialScience], [flower_XiaoLiang], [top_src]) VALUES (3, N'Best for You', 206, 11, N'img\BestForYou', N'I still want the best for you！', 2, N'嫣粉/玫粉色欧雅纸5张、白色雪梨纸2张、浅粉色罗纹玫瑰金丝带2米', 158, N'戴安娜粉玫瑰11枝、浅紫勿忘我3枝、尤加利10枝', 1234, N'img\BestForYou/1.jpg')
GO
SET IDENTITY_INSERT [dbo].[flowerTable] OFF
GO
SET IDENTITY_INSERT [dbo].[orderTable] ON 

INSERT [dbo].[orderTable] ([order_id], [order_shopping], [order_userid], [order_money], [order_state], [order_time]) VALUES (1, 1, 1, 256.0000, 1, CAST(N'2020-01-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[orderTable] OFF
GO
SET IDENTITY_INSERT [dbo].[shoppingTable] ON 

INSERT [dbo].[shoppingTable] ([shopping_id], [shopping_flower], [shopping_state], [shopping_num]) VALUES (1, 1, 1, 22)
SET IDENTITY_INSERT [dbo].[shoppingTable] OFF
GO
INSERT [dbo].[typeTable] ([typeid], [typename]) VALUES (1, N'永生')
INSERT [dbo].[typeTable] ([typeid], [typename]) VALUES (2, N'鲜花')
GO
INSERT [dbo].[userTable] ([users_id], [users_name], [users_pwd], [users_type]) VALUES (1, N'abc', N'123', 0)
INSERT [dbo].[userTable] ([users_id], [users_name], [users_pwd], [users_type]) VALUES (2, N'张三', N'123', 0)
INSERT [dbo].[userTable] ([users_id], [users_name], [users_pwd], [users_type]) VALUES (3, N'admin', N'123', 1)
GO
ALTER TABLE [dbo].[catTable] ADD  CONSTRAINT [DF__catTable__num__2E1BDC42]  DEFAULT ((1)) FOR [num]
GO
ALTER TABLE [dbo].[catTable] ADD  CONSTRAINT [DF_catTable_state]  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[orderTable] ADD  DEFAULT (getdate()) FOR [order_time]
GO
ALTER TABLE [dbo].[catTable]  WITH CHECK ADD  CONSTRAINT [FK__catTable__flower__300424B4] FOREIGN KEY([flowerid])
REFERENCES [dbo].[flowerTable] ([flower_id])
GO
ALTER TABLE [dbo].[catTable] CHECK CONSTRAINT [FK__catTable__flower__300424B4]
GO
ALTER TABLE [dbo].[catTable]  WITH CHECK ADD  CONSTRAINT [FK__catTable__userid__30F848ED] FOREIGN KEY([userid])
REFERENCES [dbo].[userTable] ([users_id])
GO
ALTER TABLE [dbo].[catTable] CHECK CONSTRAINT [FK__catTable__userid__30F848ED]
GO
ALTER TABLE [dbo].[flowerTable]  WITH CHECK ADD  CONSTRAINT [FK__flowerTab__flowe__286302EC] FOREIGN KEY([flower_typeid])
REFERENCES [dbo].[typeTable] ([typeid])
GO
ALTER TABLE [dbo].[flowerTable] CHECK CONSTRAINT [FK__flowerTab__flowe__286302EC]
GO
ALTER TABLE [dbo].[orderTable]  WITH CHECK ADD FOREIGN KEY([order_shopping])
REFERENCES [dbo].[shoppingTable] ([shopping_id])
GO
ALTER TABLE [dbo].[orderTable]  WITH CHECK ADD  CONSTRAINT [FK__orderTabl__order__33D4B598] FOREIGN KEY([order_userid])
REFERENCES [dbo].[userTable] ([users_id])
GO
ALTER TABLE [dbo].[orderTable] CHECK CONSTRAINT [FK__orderTabl__order__33D4B598]
GO
ALTER TABLE [dbo].[shoppingTable]  WITH CHECK ADD  CONSTRAINT [FK__shoppingT__shopp__2B3F6F97] FOREIGN KEY([shopping_flower])
REFERENCES [dbo].[flowerTable] ([flower_id])
GO
ALTER TABLE [dbo].[shoppingTable] CHECK CONSTRAINT [FK__shoppingT__shopp__2B3F6F97]
GO
ALTER TABLE [dbo].[catTable]  WITH CHECK ADD  CONSTRAINT [CK_catTable] CHECK  (([state]=(0) OR [state]=(1)))
GO
ALTER TABLE [dbo].[catTable] CHECK CONSTRAINT [CK_catTable]
GO
USE [master]
GO
